body {
    background: #000;
    color: rgb(163, 255, 0);
    font-size: 32px;
    font-family: monospace;
}

pre {
  display: inline;
  margin: 15px;
}

#command {
  width: 100%;
  opacity: 0;
}

.blink {
  animation: blink 2s step-end infinite;
  -webkit-animation: blink 2s step-end infinite;
}

.attachment {
  padding: 10px;
  border: 1px solid rgb(163, 255, 0);
  margin-bottom: 10px;
}

.game-title {
  color: #cc0000;
}

@keyframes blink {
  0% {opacity: 1;}
	50% {opacity: 0;}
}
@-webkit-keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}