body {
    background: #000;
    color: rgb(163, 255, 0);
    font-size: 32px;
    font-family: monospace;
}

#input {
  display: inline;
}

.blink {
  animation: blink 2s step-end infinite;
  -webkit-animation: blink 2s step-end infinite;
}

@keyframes blink {
  0% {opacity: 1;}
	50% {opacity: 0;}
}
@-webkit-keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
}