<div class="container marketing about-me"> 
  <div class="col-sm-10 col-sm-offset-1">
    <div class="info col-sm-6">
      <h1>I'm Thomas Steinke.</h1>
      <small class="hidden-xs">That's me, over on the right.</small>
      <hr />
      <p>
        I'm a Software developer who makes games on the side, when I'm not busy playing them. Currently, I'm a fourth year Computer Science student, set to graduate December 2016.
      </p>
      <hr />
      <h5>
        Email: <a href="mailto:me@thomassteinke.com">me@thomassteinke.com</a>
      </h5>
      <h5>
        Resume: <a ui-sref="pages.landing.resume">Cool version</a> (or <a href="/files/Resume.pdf" target="_self">PDF</a>)
    </div>
    <div class="picture col-sm-6 hidden-xs">
      <img src="/images/me.jpg" />
    </div>
  </div>
</div>