<div class="container" ng-controller="ResumeCtrl">
  <div class="row marketing">
  	<div class="progress nogutter">
  		<div class="progress-bar" style="width: 100%; height: 100%">
		  </div>
		</div>
  	<div class="progress vertical min-page-height">
  		<div class="progress-bar" style="width: 100%; height: 100%">
		  </div>
		</div>
  	<div class="col-xs-12 resume-item right">
  		<div class="item bottom-gutter">
  		</div>
  		<div class="item">
  		</div>
  	</div>
  	<div class="progress nogutter no-gutter col-xs-12 topgutter">
  		<div class="progress-bar" style="width: 100%; height: 100%">
		  </div>
		</div>
  </div>
</div>
