<div ui-view ng-style="{ 'background-color': bgcolor }"></div>

<div class="container bottom-margin">
  <div class="footer">
    <span class="social pull-right">
      <a href="mailto:exyphnos@gmail.com" class="btn btn-social-icon btn-google"><i class="fa fa-envelope"></i></a>
      <a href="https://twitter.com/therealsteinke" target="_blank" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/thomsteinke" target="_blank" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/Epiphane" target="_blank" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
    </span>
    <div class="hidden-xs">Designed, coded, and spel-chequed by Thomas Steinke</div>
    <div class="visible-xs">Thomas Steinke</div>
  </div>
</div>
